*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Comic Neue', cursive;
  font-size: 100%;
  font-weight: 400;
}

h1{
  text-align: center;
  font-size: 200%;
  margin-top: 50px;
  margin-bottom: 50px;
}

h2 {
  position: absolute;
  top: -1px;
  right: -1px;
  font-size: 150%;
  font-weight: 700;
  border: 1px solid black;
  padding: 5px 50px 5px 50px;
  float: right;
}

h2#chicken{
  background-color: #f19e9d;
  color: black;
}

h2#beef{
	background-color: #d0312d;
	color: white;
}

h2#sushi{
	background-color: #fff192;
	color: black;
}

div.box {
  position: relative;
  background-color: #a9a9a9;
  padding: 20px;
  margin: 15px;
  border: 1px solid black;
}

p{
  padding-top: 40px;
  font-size: 125%;
}

.row{
  width: 100%;
}

.container{
  position: relative;
}

/********** For Large devices **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** For Medium devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** For Small devices **********/
@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}
